<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Better Player"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- MediaButtonReceiver to handle media button events -->
        <receiver android:name="androidx.media.session.MediaButtonReceiver" android:exported="true" tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- Media playback service to handle media playback -->
        <service android:name=".MediaPlaybackService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

    </application>

</manifest>

